
.icon-search:before { content: '\e800'; } /* '' */
.icon-bag:before { content: '\e801'; } /* '' */
.icon-clipboard:before { content: '\e802'; } /* '' */
.icon-search-1:before { content: '\e803'; } /* '' */
.icon-link:before { content: '\e804'; } /* '' */